body {
  background-image: url("../images/DonutClickerimage.png");
  width: auto;
  height: auto;
}

article {
  text-align: center;
  color: white;
}

p {
  border-style: solid;
  border-color: white;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  right: 50px;
}

.clickerbar {
  text-align: center;
}
