body {
  background-image: url("../images/DonutClickerimage.png");
  width: auto;
  height: auto;
}

article {
  text-align: center;
  color: white;
  border-width: medium;
}

p {
  border-style: solid;
  border-color: white;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

.navbar_btn {
  background-color: white;
  border-radius: 12px;
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  right: 50px;
  border-radius: 8px;
  list-style: none;
  margin: 1rem;
  float: left;
}

.clickerbar {
  text-align: center;
}

ul {
  list-style-type: none;
}
